.carouselWrapper {
  width: 100%;
  overflow: hidden;
}

.youMay {
  width: 100%;
  padding: 0px 25px;
}

.carouselButtons {
  position: relative;
}

.buttonLeft {
  background-color: rgba(232, 232, 232, 0.3);
  transition: background-color 0.5s ease-in-out;
  border: black;
  color: rgb(109, 109, 109);
  padding: 15px 17px 10px 17px;
  border-radius: 50%;
  z-index: 10;

  position: absolute;
  left:0px;
  margin-left:7px;
  margin-top: 300px;

  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.buttonLeft:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.buttonRight {
  background-color: rgba(232, 232, 232, 0.3);
  transition: background-color 0.5s ease-in-out;
  border: black;
  color: rgb(109, 109, 109);
  padding: 15px 17px 10px 17px;
  border-radius: 50%;
  position: absolute;
  right:0px;
  margin-right:7px;
  margin-top: 300px;
  z-index: 10;
}

.buttonRight:hover {
  background-color: rgba(255, 255, 255, 0.9);
}




